<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <h3>
        <a aria-label="SAG Cauca" class="logo" href="index.html">
          <img alt="SAG Cauca" class="logo-img" src="assets/img/logosagc.jpg"/>
          <span class="sr-only">SAG Cauca</span>
        </a>
      </h3>
      <p>
        Sociedad de Agricultores y Ganaderos del Cauca.<br/>
        Representando al sector agropecuario Caucano.
      </p>
    </div>
    <div>
      <h4>Contacto</h4>
      <p>
        Popayán Cauca, Colombia<br/>
        Tel: <a href="tel:+573155692130">315 569 2130</a><br/>
        Tel: <a href="tel:+576028395614">(602) 8395614</a><br/>
        Correo: <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sagcauca@gmail.com&su=Contacto%20desde%20SAG%20Cauca" target="_blank" rel="noopener noreferrer">sagcauca@gmail.com</a>
      </p>
    </div>
    <div>
      <h4>Redes sociales</h4>
      <p class="social-links">
        <a href="https://x.com/Sag_del_cauca" aria-label="X (Sag del Cauca)" class="social-link" target="_blank" rel="noopener noreferrer">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.9 2H21l-6.6 7.5L22 22h-6.9l-4.8-6.2L4.7 22H2.5l7.1-8.1L2 2h7.1l4.3 5.6L18.9 2zm-1.2 18h1.9L8.3 4H6.3l11.4 16z"></path>
          </svg>
          <span class="sr-only">X</span>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61587803267427" aria-label="Facebook (sag cauca)" class="social-link" target="_blank" rel="noopener noreferrer">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.5 21v-8h2.7l.4-3h-3.1V8.1c0-.9.3-1.5 1.6-1.5h1.7V4c-.3 0-1.4-.1-2.6-.1-2.6 0-4.4 1.6-4.4 4.4V10H7v3h2.8v8h3.7z"></path>
          </svg>
          <span class="sr-only">Facebook</span>
        </a>
        <span aria-label="Instagram (pendiente)" class="social-link is-disabled" role="img">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 3h10a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4zm10 2H7a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2zm-5 3.5A4.5 4.5 0 1 1 7.5 13 4.5 4.5 0 0 1 12 8.5zm0 2A2.5 2.5 0 1 0 14.5 13 2.5 2.5 0 0 0 12 10.5zm5-3.2a1 1 0 1 1-1 1 1 1 0 0 1 1-1z"></path>
          </svg>
          <span class="sr-only">Instagram</span>
        </span>
        <span aria-label="LinkedIn (pendiente)" class="social-link is-disabled" role="img">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.9 8.8H4V20h2.9V8.8zM5.4 4a1.7 1.7 0 1 0 0 3.4A1.7 1.7 0 0 0 5.4 4zM20 12.9c0-3-1.6-4.4-3.7-4.4-1.7 0-2.5 1-2.9 1.7V8.8h-2.9c.1 1 .1 11.2 0 11.2h2.9v-6.2c0-.3 0-.7.1-1 .3-.7.9-1.4 2-1.4 1.4 0 2 1 2 2.5V20H20z"></path>
          </svg>
          <span class="sr-only">LinkedIn</span>
        </span>
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <small>© <span id="year"></span> SAG Cauca. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>